@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
}

.itens input:checked ~ label {
    text-decoration: line-through;
    
}

#todolist {
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 20px;
    background-color: #C8D9E6;
    box-shadow: 2px 2px  #567c8db9;
    border-radius: 8px;
    outline: 0;
    
}

.campos {
    margin-bottom: 20px;
    background-color: #f5efeb9f;
}

.campos input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #567C8D;
    border-radius: 5px;
    outline: 0;
}

.itens .box-input {
    width: 100%;
    padding: 5px;
    background-color:#567C8D;
    border-radius: 8px;
    box-shadow:  1PX 1PX #f5efeb9f;
    margin-bottom: 5px;
    color: #ffffff;
    
}

.itens .box-input:nth-child(2n+1) {
    background-color: #346379;

}

.alerta {
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    background-color: #113749;
    color: #ffffff;
    display: none;
}