* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.itens input:checked ~ label {
    text-decoration: line-through;
    
}

#todolist {
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    background-color: aqua;
    
}

.campos {
    margin-bottom: 20px;
}

.campos input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #a1a1a1;
    outline: 0;
}

.itens .box-input {
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    
}


